<nav>
    <ul>
        <li>
            <a href="/">Home</a>
        </li>
        <li>
            <a href="/about">Acerca de nosotros</a>
        </li>
        <li>
            <a href="/projects">Salones disponibles</a>
        </li>
        <li>
            <a href="/tasks">Salones destacados</a>
        </li>
        <li>
            <a href="/create_task">Cuenta</a>
        </li>
        <li>
            <a href="/create_project">Ajustes</a>
        </li>
    </ul>
</nav>


{% block content %}
{% endblock %}


