{% extends "layouts/base.html" %}


{% block content %}

<h1>About us </h1>


<p>En Los chuilaquiles Airbnb, creemos que organizar una reunión o fiesta no tiene por qué ser complicado. Somos una plataforma digital especializada en la gestión de reservaciones de salones para eventos sociales, empresariales y familiares.

Nuestro objetivo es ofrecerte una herramienta sencilla, rápida y confiable para buscar, comparar y reservar salones disponibles en tu zona, todo desde un solo lugar. Nos enfocamos en facilitar la experiencia tanto para los usuarios que necesitan un espacio, como para los administradores de salones que desean optimizar sus servicios y disponibilidad.

Contamos con funciones que permiten:

Visualizar salones con fotos y características (capacidad, ubicación, servicios)

Consultar disponibilidad en tiempo real

Realizar reservaciones y pagos en línea

Gestionar eventos y recordatorios personalizados

Ya sea que organices una reunión de trabajo, una fiesta de cumpleaños, una boda o un evento empresarial, en ReservApp encontrarás el lugar ideal para hacerlo realidad.

Nos apasiona conectar personas con espacios funcionales, seguros y adaptados a sus necesidades.

Tu evento empieza aquí.</p>
{% endblock %}


