{% extends "layouts/base.html" %}


{% block content %}

<h1>About</h1>
<h2>Your username is: {{mostrarUsername}}</h2>
<h3>Your age : {{mostrarAge}}</h3>

<p>Your lucky numbers are: {{favNumbers}}</p>

<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Amet illo, ex ad cum suscipit vero quis autem voluptate eveniet, velit adipisci alias fugit ipsa. Autem sequi, voluptates dolorum officia iste dicta voluptatum optio ipsum vel alias omnis, dignissimos ipsa sapiente enim. Nam quia repellendus nisi officia adipisci. Quae distinctio aspernatur deserunt, itaque eos voluptatem maiores laboriosam nemo. Commodi officia eius iure. Ipsa necessitatibus eveniet ducimus, explicabo aut, dicta praesentium ullam, eum quas ut blanditiis id numquam aperiam temporibus. Adipisci cupiditate temporibus aspernatur blanditiis reiciendis illo, cumque suscipit, earum sint molestiae perferendis voluptates quisquam distinctio, quas eaque ratione molestias animi voluptatibus.</p>

{% endblock %}


